<!DOCTYPE html>
<html>
    <head>
        <title>Mnożenie</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            input.error { background-color: pink }
        </style>
    </head>
    <body>
         <div>
            <h2>Mnożenie</h2>
            <form action="/multiply" method="post" th:object="${calculatorForm}">
            x = <input type="text" th:field="*{x}" th:errorClass="error" />
            <span th:if="${#fields.hasErrors('x')}" th:errors="*{x}">Błędne dane</span><br></br><br></br>
            
            y = <input type="text" th:field="*{y}" th:errorClass="error"/>
            <span th:if="${#fields.hasErrors('y')}" th:errors="*{y}">Błędne dane</span><br></br><br></br>

            <input type="submit" value="Dodaj" />
            </form>
        </div>
        
    </body>
</html>
